@model CreateCommentDto
@{
    ViewData["Title"] = "CreateComment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Yeni Yorum Oluştur</h3>

<form method="post">

    <label>Blog</label>
    <select type="text" asp-for="BlogId" class="form-control" asp-items="@TempData["blogs"] as List<SelectListItem>"></select>
    <span class="text-danger" asp-validation-for="BlogId"></span>
    <br />

    <label>Yorum</label>
    <textarea type="text" asp-for="Content" class="form-control" rows="5"></textarea>
    <span class="text-danger" asp-validation-for="Content"></span>
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>