@model List<ResultCommentDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3> Yorumlar</h3>
@{
    int count = 0;
}

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Blog Id</th>
        <th>Yorum İçeriği</th>
        <th>İşlemler</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.BlogId</td>
            <td>@item.Content</td>
            <td>
                <a href="/Admin/Comment/DeleteComment/@item.Id" class="btn btn-danger">Sil</a>
                <a href="/Admin/Comment/UpdateComment/@item.Id" class="btn btn-info">Güncelle</a>
            </td>
        </tr>
    }
</table>

<a href="/Admin/Comment/CreateComment" class="btn btn-primary">Yeni Yorum Oluştur</a>
